wheel
pyapnea>=0.0.4
plotly
pandas
dash
kaleido
scikit-learn
statsmodels
matplotlib
dvc[ssh]
mne
torch
poutyne
pyarrow
tables
tqdm
numpy
hydra-core
codecarbon
p_tqdm
mlflow
tensorboard
wfdb
ipytree
ipy_table
textual
gitpython